<!doctype html> 
<html>
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Esta es la página de la catedra {{nombre}} de la materia {{materia}}</h1>
      <p>Dia de cursada: {{dia}} de {{turno}}</p>
      <p>
        {{#if promocionable}} Esta materia es promocionable.
        {{else}} Esta materia tiene final obligatorio.
        {{/if}}
      </p>
      <h2>Opiniones</h2>
      <h3>¿Cursaste {{materia}} en la cátedra {{nombre}}? Dejanos tu opinion de la cursada.</h3>
      <form action="/materia/{{idmateria}}/{{idcatedra}}" method="post">
        <textarea name="comentario" rows="10" cols="80"></textarea>
        <input class="btn btn-default" type="submit" value="Submit">
        <input type="hidden" name="idcatedra" value="{{idcatedra}}">
        <div id="r2" class="enterrating"></div>
        <div id="r1" class="enterrating"></div>
      </form>
      <div class="comentarios">
        {{#each comentarios}}
        <div> {{comentario}}</div>
        <div>Puntajes: {{#each puntajes}} {{nombrecriterio}} 
          <div class="showrating" data-rating="{{valor}}"></div>{{/each}} 
        </div>
        {{/each}}
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery.raty.js"></script>
    <script>
      $('.enterrating').raty({
        starOn: '/imagenes/star-on.png',
        starOff: '/imagenes/star-off.png'  
      }); 

      $( ".enterrating" ).each(function() { 
        var str = $(this).attr("id");
        $(this).children('input').attr("name", "puntajes[" + str + "]");
      });

      $( ".showrating" ).each(function() { 
        $(this).raty({ 
          starOn: '/imagenes/star-on.png',
          starOff: '/imagenes/star-off.png',
          readOnly: true, 
          score: $(this).data('rating') 
        }); 
      });
    </script>    
  </body>
</html>